<app-header />

<div class="login-container flex flex-col justify-self-center text-center m-6 p-12 font-russ rounded-2xl shadow-2xl bg-gray-100 text-gray-700 dark:bg-gray-700 dark:text-gray-100 ">
    <h1 class="mb-4 p-4 text-2xl">Login</h1>
    <form class="m-6 flex flex-col mx-auto">
        <input
            type="text b"
            placeholder="Username..."
            class="text-xl text-center border-2 rounded-md border-gray-200 m-3"
            />
            <input
            type="password"
            placeholder="Password..."
            class="text-xl text-center border-2 rounded-md border-gray-200 m-3"
        />
        <button class="py-2 bg-royalblue w-11/12 mx-auto rounded-lg text-gray-50 mt-8">Login</button>
        <button class="py-2 bg-royalblue w-11/12 mx-auto rounded-lg text-xs text-gray-50 mt-4">Forgot Password</button>
    </form>
</div>
