<header class="header-bar">
  <div (click)="selectSection('app-play-menu')" class="header-title">
    <span class="chess-logo">♟️</span>
    <span class="site-name" routerLink="/">Chess App</span>
  </div>
  <nav class="header-nav">
    <button (click)="toggleDarkMode()" class="flex m-auto text-2xl scale-125 hover:scale-150 duration-100">🌓</button>
    <!-- <a routerLink="/">Home</a>
    <a routerLink="/login">Login</a>
    <a routerLink="/register">Register</a>
    <a routerLink="/profile">Profile</a> -->
    
    <a (click)="selectSection('app-play-menu')">Home</a>
    <a (click)="selectSection('app-login')">Login</a>
    <a (click)="selectSection('app-register')">Register</a>
    <a (click)="selectSection('app-profile')">Profile</a>
  </nav>
</header>
