<header class="header-bar">
  <div class="header-title" routerLink="/play-menu">
    <span class="chess-logo">♟️</span>
    <span class="site-name">Chess App</span>
  </div>
  <nav class="header-nav">
    <button (click)="toggleDarkMode()" class="flex m-auto text-2xl scale-125 hover:scale-150 duration-100">🌓</button>
    @if (!isMobile()) {
      @if (loginService.isAuthenticatedSignal()) {
        <a routerLink="/play-menu">Home</a>
        <a routerLink="/profile">Profile</a>
      }
      @if(!loginService.isAuthenticatedSignal()) {
        <a routerLink="/login">Login</a>
        <a routerLink="/register">Register</a>
      }
    }@else {
      <button 
            (click)="toggleHamburgerMenu()"
            class="cursor-pointer text-2xl"
      >☰</button>
    }
  </nav>
</header>
