<div class="menu-container">
  <h2>Menu</h2>
  <div class="dropdown-section">
    <label for="duration">Game Duration:</label>
    <select id="duration" name="duration">
      <option class="opt" value="1">1 min</option>
      <option class="opt" value="3">3 mins</option>
      <option class="opt" value="5">5 mins</option>
      <option class="opt" value="10">10 mins</option>
      <option class="opt" value="30">30 mins</option>
      <option class="opt" value="60">60 mins</option>
    </select>
  </div>
  <button type="button" class="mt-6">Play</button>
</div>

